{% extends 'base.html' %}
{% load static %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{{ form.media }}
{% if user.is_authenticated %}
{% block content %}
<div class="container">
    <div class="jumbotron border border-secondary" style="dow: 10px 14px 18px 10px rgba(0,0,0,0.2); margin: 30px; background-color: rgba(255,255,255,0.9);">
        <form method="POST"> {% csrf_token %}
            <h2>Vehicle Make: {{ make_model }} </h2>
            <h4><b>Vehicle Number: </b> {{ vin_no }} </h4>
            <h4><b>Location: </b>{{rental_location}}</h4>
            {% bootstrap_form form %}
{#            {{ form.as_p }}#}

            {% for message in messages %}
            {# Show Error Message #}
            <div class="alert alert-success">
                <a class="close" href="#" data-dismiss="alert">×</a>
                {{ message }}
            </div>
            {% endfor %}

            {{ form.media }}
            <!-- <input type="submit" value="Save" /> -->
            <input class="btn btn-primary" type="submit" value="Request Car" />
        </form>
    </div>
</div>
{% endblock %}

{% else %}
<p>please log in for better experience</p>
{% endif %}